* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.form {
    display: flex;
    align-items: center;
    padding-left: 40px;

}

.header-right {
    display: flex;
    align-items: center;
}

.logo-d {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.logo-img {
    margin-right: 13px;
}

.button {
    height: 38px;
    line-height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;

    letter-spacing: 0.38px;
    text-decoration: none;
}

.navigation {
    background-color: #ffffff;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link {
    padding: 15px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.promo {
    background-color: #e8e8e8;
}

.promo-content {
    height: 613px;
    background-image: url(img/promo-back.jpg);
    background-position: 0 -51px;
    display: flex;
    align-items: center;
}

.promo-p {
    color: #222222;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
    line-height: 33px;
}

.promo-h3 {
    color: #222222;
font-size: 60px;
font-weight: 700;
text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 12px;
}

.pink {
    color: #f16d7f;
}

.promo-text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}
.promo_hot{
    padding-top: 98px;
    display:-webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-content: flex-end;
    display: flex;
    list-style: none;
    float: left;

}

.promo_hot1{
    background: url("img/Layer_30.jpg");
    width: 560px;
    height: 542px;
    align-self: flex-start;

}
.promo_hot2{
    background: url("img/Layer_32.png");
    width: 560px;
    height: 261px;
    align-self: flex-start;
    margin-left: 20px;

}
.promo_hot3{
    background: url("img/Layer_31.png");
    width: 560px;
    height: 542px;
    order: 1;
    margin-top: -260px;
    margin-left: 20px;
}
.promo_hot4{
    display: flex;
    width: 560px;
    height: 261px;
    background: url("img/Layer_37.jpg") no-repeat;
    margin-top: 20px;

}

.hot1 {

    position: relative;
    top:25px;
    width: 175px;
    height: 82px;
    background-color: #ffffff;

}
.hot_text span{
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.hot_text{
    padding: 15px;
    color: #222222;
    font-family: 'Lato - Black';
    letter-spacing: 0.45px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.hot2{
    position: relative;
    top:25px;
    width: 162px;
    height: 82px;
    background-color: #ffffff;
}
.hot3{
    position: relative;
    top:25px;
    width: 230px;
    height: 82px;
    background-color: #ffffff;
}

.hot4{
    position: relative;
    top:25px;
    width: 180px;
    height: 82px;
    background-color: #ffffff;
}

.fetured {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 472px;
    width: 350px;

}
.fetured ul{
    justify-content: center;
}

.fetured li{
    list-style-type: none;
    justify-content: center;
}
.fetured h2{
    display: flex;
    justify-content: center;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}
.fetured p{
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.item li{
    list-style-type: none;
}
.item h3{
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.item span{
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.items{
    position: relative;
    top: 160px;

}

.items li{
    list-style-type: none;
    margin: 5px;

}

.item{
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 10px 0;
}

.block_general{
    width: 261px;
    height: 280px;
    text-align:center;
    position: relative;
    float: left;
}
.block_hover{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.block_general:hover .block_hover{
    z-index: 1;
    display: block;
}
.add_to_cart p{
    border-left: solid white 1px;
    border-right: solid white 1px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    margin-top: 113px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;


}
.add_to_cart{
    text-decoration: none;
}

.item:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    
}
.All_Product{
    position: relative;
    left: 42%;
    display: flex;
    align-items: center;
}

.button:hover{
    height: 38px;
    line-height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #ff1166;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;

}
.presentation{
    position: relative;
    top: 115px;

    background-color: #222224;
}

#imgPres{
    display: flex;
    justify-content: flex-start;

}
#infoPres{
    display: flex;
    justify-content: flex-end;
}

#infoPres li{
    list-style-type: none;
    padding-left: 100px;
    padding-top: 15px;
}
.deliver{
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.deliver span{
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.forma{
    position: relative;
    top: 50px;
    left: 30px;
    right: 30px;
}
#search{
    width: 317px;
    height: 25px;
    position: relative;
    top: 10px;
    font-size: 22px;
    padding: 6px 0 4px 10px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;

}
#browse{
    display: block;
    width: 86px;
    height: 38px;
    background-color: #cdcdcc;
    font-size: 14px;
}
#browse p{
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    position: relative;
    top: 10px;
    left: 10px;
}

#browse:hover .drop-top{
    display: flex;
}
#button{
    height: 38px;
    width: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

.card{
    position: relative;
    left: 150px;

}

.card:hover .drop-top-card{
    display: flex;
}

.product-box {
    padding-top: 150px;
    padding-bottom: 50px;
}
.product-box-catalog{
    position: relative;
    left: 300px;
    width: 848px;
    padding-bottom: 50px;
}
.product-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-name {
    display: block;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.product-text {
    padding: 20px 15px;
}

.product {
    width: 263px;
    position: relative;
    margin-bottom: 39px;
}

.product:hover .product-add {
    display: flex;
}
.product-catalog{
    width: 263px;
    position: relative;
    margin-bottom: 39px;
}
.product-catalog:hover .product-add {
    display: flex;
}
.product-catalog:hover .product-img {
    filter: brightness(60%);
}

.product-add:hover {
    box-shadow: 0 0 5px #fff;
}

.product:hover .product-img {
    filter: brightness(60%);
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product-img {
    width: 100%;
}

.product-add {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    text-decoration: none;
    position: absolute;
    top: 94px;
    left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
}


.example {
    display:inline-block;
    position:relative;

}
.example span {
    display:inline-block;
    position:absolute;
    top:30px;
    left:0px;

    /* Оформление текста */
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    /* Фон */

    padding-left: 39px;
    padding-top: 146px;
}
#for_women{

}
.subscribe{
      display: flex;
      justify-content: center;
      position: relative;
      top:200px;
      left: -22%;
      width: 1609px;
      height: 438px;
      background-image: url("img/Layer_41.png");

  }
.subscribe-catalog{
    display: flex;
    justify-content: center;
    position: relative;
    left: -22%;
    width: 1609px;
    height: 438px;
    background-image: url("img/Layer_41.png");

}
.subscribe-catalog__check{
    display: flex;
    justify-content: center;
    position: relative;
    top:50px;
    left: -22%;
    width: 1609px;
    height: 438px;
    background-image: url("img/Layer_41.png");

}
#left{
    width: 500px;
    position: relative;
    top: 123px;

}
#left li{
    list-style-type: none;
}
#layer40{
    float: left;
    padding-right: 30px;
}
.carousel_indicator{

    width: 38px;
    height: 4px;
    margin: 5px;
    background-color:  #d6d6d6;
}
.carousel_indicator:hover {
    width: 38px;
    height: 4px;
    margin: 5px;
    background-color: #f16d7f;
}
.carousel{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 110px;
    top: 40px;

}
#right{

    position: relative;
    top: 148px;
    margin-left: 200px;

    text-align: center;

}

#right li{
    list-style-type: none;
}
#subscribe{
    position: relative;
    top: -50px;
    left: 103px;
    line-height: 48px;
    display: block;
    width: 104px;
    height: 48px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    clear: both;
    float: right;
    transition: 0.5s;
}
#subscribe:hover{
    color: #f16d7f;
    background-color: #ffffff;
}

a{
    text-decoration: none !important;
}
a:hover{
     color: #f16d7f;
 }
a li:hover{
    color: #f16d7f;
}

 #inputEmail{
   border-bottom-left-radius: 23px;
     border-top-left-radius: 23px;
     background-color: #e1e1e1;
     width: 334px;
     height: 46px;
     float: left;
 }
 .input {
     display: inline-block;
     margin-right: 15px;
     padding-bottom: 10px;

 }

 .bottom{
     display: flex;
     position: relative;
     top: 300px;
     background-color: white;
 }
 .bottom-catalog{
     display: flex;
     position: relative;

     background-color: white;
 }
 .bottom__check{
     display: flex;
     position: relative;
     top: 200px;
     background-color: white;
 }
footer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 325px;
    background-color: #e6e6e6;
    height: 80px;
}
.footer__check{
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px;
    bottom: 0;
    background-color: #e6e6e6;
    height: 80px;
}
.footer-catalog{
    display: flex;
    justify-content: center;

    background-color: #e6e6e6;
    height: 80px;


}

.bottom li{
    list-style-type: none;
}
.bottom__check li{
    list-style-type: none;
}
.bottom-catalog li{
    list-style-type: none;
}
.info_bottom{


    width: 427px;
}

.header-bottom{
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.name-bottom{
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;

}

footer p{
    line-height: 80px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    float: left;
}
.social{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 30px;
    left: 700px;

    background-color: white;
}

.footer ul{
    display: flex;

}
.footer li{


     margin-left: 10px;
     color: #b2b2b2;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: 0.4px;
     text-align: center;
     padding:10px 10px 10px;

 }
.footer li:hover{


    margin-left: 10px;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: center;
    padding:10px 10px 10px;
    background-color: #f16d7f;
    transition: 0.8s;

}
.footer-catalog p {
    line-height: 80px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    float: left;
}
#social-block{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 30px;
    left: 700px;
    background-color: gainsboro;
}
body{
    height: 100%;
}
.drop{
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    z-index: 1;
    border: 1px solid gainsboro;
    top: 42px;
    left:-4px;
}
.drop-top{
    display: none;
    position: absolute;
    top: 75px;
    z-index: 1;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid gainsboro;
    width: 200px;


}
.drop-top:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 28px;
    transform: rotate(45deg);
}
.drop-top-card{
    display: none;
    position: absolute;
    top: 40px;
    right: -195px;
    z-index: 1;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid gainsboro;
    width: 200px;


}
.drop-top-card:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 28px;
    transform: rotate(45deg);
}

.menu-list:hover .drop{
    display: flex;
}

.drop:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 28px;
    transform: rotate(45deg);
}

.info-category li{
    list-style: none;
}
.info-category a{
    line-height: 28px;
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}
.category{
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.under_category{
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 37px;
}



.drop-flex{
    width: 235px;
    margin: 46px;
}

.drop-flex-top{
    width: 235px;

}


.info-category li a:hover{
    color: #f16d7f;
}
.menu-list{
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    position: relative;
    bottom: 0;
}
.block_social{
    position: relative;
    right: 120px;
}
#Card_id1{
    height: 85px;
    width: 72px;
    background: url("img/Card_1.jpg");
    float: left;
    margin-right: 15px;
}

#Card_id2{
    height: 85px;
    width: 72px;
    background: url("img/Card_2.jpg");
    float: left;
    margin-right: 15px;

}
.card-position{
    height: 90px;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.characteristics li{
    list-style-type: none;
}
.characteristics ul{
    line-height: 3.1;
}
.characteristics{
    float: left;
}

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 12px;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;

}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}

.close a{
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.close a:hover{
    color: #f16d7f;
    transition: 0.8s;
}
.close{
    position: relative;
    left: 15px;
    top: 30px;
}

.total{
    margin-bottom: 30px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}
#total{
    float: left;
}
#itog{
    display: flex;
    justify-content: flex-end;
}
.checkout{
    justify-content: center;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid #f16d7f;
}
.checkout a{
    color: #f16d7f;
}
.checkout a:hover{
    color: #fc3a5a;
}
.checkout:hover{
    justify-content: center;
    color: #fc3a5a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid #fc3a5a;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.go_to_card{
    margin-top: 10px;
    justify-content: center;
    color:  #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid  #4a4a4a;;
}
.go_to_card a{
    color: #4a4a4a;
}

.go_to_card a:hover{
    color: #464544;
}
.go_to_card:hover{
    justify-content: center;
    color: #464544;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid #464544;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
#name{
    position: relative;
    top: 60px;
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    float: left
}
.promo-catalog{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    background-color: #f8f3f4;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.promo-catalog a{
   color:  #464544;
}
.promo-catalog a:hover{
    color:  #f16d7f;
}

.explore{
    position: relative;
    width: 243px;
    height: 600px;
    border: 1px solid black;
    margin-top: 60px;
    float: left;

}
.filter{
    display: flex;
    position: relative;
    left: 300px;
    width: 848px;
    height: 165px;
    margin-top: 60px;
    clear: both;

}
.content-catalog{

}
.showcase{
    position: relative;
    top: 50px;

}
.h3-catalog{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.trendingnow{
    width: 300px;
}

.range{
    -webkit-appearance: none;
    width:100%;
    height:10px;
    border-radius: 3px;
    background-color: #f16d7f;
    outline : none;
    border:1px solid #D4D4D4;

}
.trendingnow li{
    list-style-type: none;

}

.trendingnow a{
    color: #6f6e6e;
    padding-right: 10px;
    padding-left: 10px;

}
.trendingnow a:hover{
    color:#f16d7f ;
}
.rectangle{
    margin-bottom: 20px;
    display: flex;
    position: relative;
    left: 300px;
    width: 846px;
    height: 50px;
    background-color: #f3f3f3;
}
.rectangle-name{
    position: relative;
    top: 10px;
    left: 9px;
    display: flex;
    align-items: center;
    width: 153px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-right: 50px;
}
.select{
 padding-left: -10px;
    border-left: 1px solid #ebebeb;
}
.Sort-Name{
    margin-right: 20px;
    padding-left: 10px;
    border-right:  1px solid #ebebeb;
}
.Sort-Name p{
    padding-right: 10px;
}

.Feature-box{
display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 341px;
    background-color: #222224;
}
.promo-box{
    text-align: center;
    float: left;
    padding-right: 70px;
    padding-top: 90px;
    width: 308px;
}
.promo-box li{
    list-style-type: none;
}
.number{
display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 44px;
    border: 1px solid #ebebeb;
    position: relative;
    top: 750px;
}
.number li{
    list-style-type: none;
}
.pag{
    float: left;
    padding-right: 10px;

}
.pagination{
    display: flex;
    justify-content: space-between;
    width: 848px;
    position: relative;
    top:-750px;
    left: 300px;
}
.button-catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    position: relative;
    top: 750px;
    transition: 0.5s;
    color: #ef5b70;
}
.button-catalog:hover{
    background-color: #ef5b70;
    color: white;

}

.pagination a{
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;

}
details {
    display: block;
}
.check{
    width: 100%;

    position: relative;
    top: 100px;
    clear: both;
}
.check__list{

    list-style-type: none;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8 ;

}
.check__list_block{
    display: flex;
    justify-content: space-between;
}
.check__list_block1_bold p{
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.check__list_block1 li{
    list-style-type: none;

}
.check__list_block1_think p{
    color: #b3b2b2;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.check__list_block1_button{

    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    margin-bottom: 80px;
    margin-top: 40px;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}

.check__list_block1_button p{
    display: block;
}
.check__list_block1{
    margin-left: 40px;
}
#email{
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}
#password{
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}
.login{
    display: flex;
    justify-content: space-between;
}
#forgot{
    position: relative;
    top: 55px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
#forgot a{
    color: #222222;
}

.table-head{
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    letter-spacing: -0.2px;
}
.img_for_cart{
    float: left;
    width: 100px;
    height: 115px;
    margin-right: 10px;
}
.list_propertie li{
    list-style-type: none;

}
.list_propertie_1{
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 38px;
}
.list_propertie_2{
    position: relative;
top: -30px;
    left: 55px;
    width: 64px;
    height: 31px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.list_propertie_3{
    position: relative;
    top: -20px;
    left: 55px;
    width: 64px;
    height: 31px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.list_propertie_2 span{
    color: #575757;
    font-family: "Lato - Regular";
    font-weight: 400;
}
.list_propertie_3 span{
    color: #575757;
    font-family: "Lato - Regular";
    font-weight: 400;
}
.price{
    padding-top: 45px;
    padding-left: 25px;
    width: 150px;
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.QUANTITY{
    margin-top: 45px;
    margin-left: 15px;
    width: 55px;

    height: 30px;
    border: 1px solid #eaeaea;
    text-align: center;
    line-height: 30px;

}
.shipping{
    margin-left: 30px;
    padding-top: 45px;
    padding-left: 25px;
    width: 90px;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.closed{
    padding-top: 45px;
    padding-left: 25px;
    width: 50px;
    color: #c0c0c0;

    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.closed a{
    width: 15px;
    height: 15px;
    color: #c0c0c0;

    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}
.closed a :hover{
    width: 15px;
    height: 15px;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.8s;
}

.cart{
    position: relative;
    top: 50px;
}
.table{
    border-bottom: 1px solid #eaeaea;
}

.button_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 50px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
}
.cart_button{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
}
.button_cart:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 50px;
    color: white;
    background-color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    transition: 0.6s;
}


.order{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;
}
.order_block{
    width: 355px;
    height: 280px;

}
form input[type="text"] {
    width: 280px;
    height: 45px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}
form {
    display: block;
    margin: 0 auto;
}
input::-webkit-calendar-picker-indicator {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
}
input[type=text] {

    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 300;
    padding: 0.5em 3.5em 0.5em 1em;
}
.order_inside{
    padding-bottom: 20px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.order__button{
    height: 35px;
    display: inline-block;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.order__button p{
    padding: 7px 15px 15px;
}

.order_p{
    padding-bottom: 20px;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}
.order_block_grey{
    width: 100%;
    height: 100%;
    background-color: #f5f3f3;
}

#subtotal p{
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
     text-align: right;
    padding-right: 40px;
    padding-top: 40px;
}
#grand_total p{
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;

    padding-right: 40px;
}
#grand_total p span{
    color: #f16d7f;
}
.order__button_total{
    position: relative;
    top: 40px;
    left: 40px;
    width: 273px;
    height: 50px;
    background-color: #f16d7f;


}
.order__button_total:hover{
    position: relative;
    top: 40px;
    left: 40px;
    width: 273px;
    height: 50px;
    background-color: white;
transition: 0.8s;


}
.order__button_total:hover p{
    color: #f16d7f;
    transition: 0.8s;
    }

#border{
position: relative;
    left: 40px;
    top: 22px;
    width: 275px;
    border-top: 1px solid #e2e2e2;
}
.order__button_total p{
    display: flex;
    justify-content: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}
.promo_sing{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
}
.promo__sing_left{
    display: block;
    position: relative;
    top: 350px;
    width: 47px;
    height: 47px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    background-color: #c2c2c2;
}
.promo__sing_left i{
    padding-top: 12px;
    padding-left: 18px;
}

.promo__sing_left:hover{
    display: block;
    position: relative;
    top: 350px;
    width: 47px;
    height: 47px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    background-color: #f7f7f7;
    outline: 1px solid #c2c2c2;
    transition: 0.8s;

}
.sing_info{
    display: flex;
    justify-content: center;
    position: relative;
    top:-60px;
    height: 730px;
    z-index: 1;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.sing_info_name{
    position: relative;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;

}

.sing_info_name p{

    border-bottom: 1px solid #eaeaea;

}
.sing_info_desc{
    color: #4d4d4d;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 50px;
}
.info_details{
    position: relative;
    top: 20px;
    width: 630px;

   text-align: center;
}
.sing_description{
    color: #5e5e5e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.sing_info__type{
    position: relative;
    top: 28px;
    display: flex;
    justify-content: space-around;
    color: #b9b9b9;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.sing_info__type span{
    color: #2f2f2f;
}
.prices{
    position: relative;
    top: 50px;
    color: #ef5b70;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

#border_sing{
    position: relative;

    top: 100px;
    border-top: 1px solid #e2e2e2;
}
.sing_info__mod{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-around;
}
.mod_h3{
    color: #2f2f2f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
#color{
    position: relative;
    top: 10px;
}

form input[type="size"] {
    width: 100px;
    height: 25px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}
input[type="size"] {
    border-radius: 4px;
    padding-left: 15px;
}
#sizes{
    position: relative;
    top: 10px;
}
#quan{
    position: relative;
    top: 10px;
}
.sing_info_button{
    display: block;
    position: relative;
    top: 200px;
    height: 55px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
}
.sing_info_button p{
    display: block;
    padding-top: 18px;
    color: #ef5b70;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}
.sing_info_button:hover{
    position: relative;
    top: 200px;
    height: 55px;
    border: 1px solid #ffffff;
    background-color: #ef5b70;
    transition: 0.8s;
}
.sing_info_button p:hover{
    padding-top: 18px;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;

}
.product-flex_sing{
    position: relative;
    top: 100px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.product-add{
    font-size: 16px;
    font-weight: 700;

}

.grid {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid #eaeaea;

}

.grid > span {
    justify-items: center;
    padding: 8px 4px;
    border-bottom: 1px solid #eaeaea;

}
.list_propertie{
    width: 510px;
}

.block_info{
    display: flex;
    position: relative;
    left: -200px;
    flex-direction: column;
}
